* {
  margin: 0; /*space outside an element, between its border and neighboring elements*/
  padding: 0; /*space inside an element, between its content and its border*/
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #212121;
  font-family: 'Helvetica', sans-serif;
  letter-spacing: -1px; /*space between characters (negative/positive)*/
  color: #ffffff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.button {
  width: 344px;
  height: 69px;
  padding: 20px;
  text-align: center; /*aligns inline content horizontally*/
  box-sizing: border-box; /*padding included in element's borders*/
  background-color: #f8ff23;
  color: #000000;
  outline: 0; /* removes focus outline*/
  text-decoration: none; /*to remove underlines*/
  display: block; /*takes full width, starts on a new line*/
  border: 0; /*removes all borders*/
  cursor: pointer;
  font-size: 24px;
}
.button:hover {
  background-color: #a8ae16;
}
.button.white {
  background-color: #ffffff;
}
.button.white:hover {
  background-color: #f8ff23;
}
.main {
  overflow: hidden; /*hides content exceeding bounds*/
  position: relative; /*relative to normal flow*/
}
.black-block {
  position: absolute; /*relative to nearest ancestor*/
  width: 477px;
  height: 910px;
  top: 0; /*offsets rom parent*/
  background-color: #000000;
  z-index: -2; /*stacking order (negative = behind parent)*/
  right: calc(50% - 780px); /*calculates position*/
}
.header {
  padding: 46px 0;
}
.header .container {
  display: flex; /*flex layout for children*/
  align-items: center; /*aligns all children vertically*/
}
.logo img {
  max-width: 129px;
  vertical-align: bottom; /*aligning elements vertically*/
}
.menu {
  margin-left: 177px;
  margin-right: auto;
}
.menu ul {
  list-style: none; /*removes bullets/numbers from lists*/
  display: flex;
  gap: 65px; /*space between grid items (both columns and rows)*/
}
.menu ul a {
  font-size: 14;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}
.menu ul a:hover {
  color: #f8ff23;
}
.phone {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: normal;
}

.main-content {
  padding-top: 100px;
  padding-bottom: 175px;
}
.main-content .container {
  position: relative;
}
.main-info {
  max-width: 755px;
}
.main-info h1 {
  font-size: 80px;
  line-height: 100%; /*vertical space between lines*/
  margin-bottom: 40px;
  font-weight: normal;
}
.main-info p {
  font-size: 24px;
  line-height: 120%;
  color: #d4d4d4;
  max-width: 478px;
  margin-bottom: 60px;
}

.main-image {
  position: absolute;
  top: 78px;
  right: -576px;
  z-index: -1;
}

.cars {
  background-color: #000000;
  padding: 130px 0;
}

.cars h2 {
  font-size: 65px;
  font-weight: normal;
}

.cars-content {
  display: flex;
  padding-top: 60px;
}

.cars-filter {
  margin-right: 77px;
  align-self: flex-start; /*overrides for a single child*/
  position: sticky; /*toggles between relative/fixed based on scroll*/
  top: 20px;
}

.cars-filter ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px; /*space in grid between rows*/
  list-style: none;
}

.cars-filter ul li {
  width: 127px;
  padding: 16px;
  text-align: center;
  border: 1px solid white;
  font-size: 16px;
  color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}

.cars-filter ul li.active,
.cars-filter ul li:hover {
  color: #f8ff23;
  border-color: #f8ff23;
}

.cars-items {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.car {
  background-color: #212121;
  padding: 20px;
  display: flex;
}
.car img {
  max-width: 568px;
}
.car-details {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}

.car-details h4 {
  font-size: 30px;
  line-height: 120%;
  margin-bottom: 20px;
}
.car-details p {
  font-size: 16px;
  line-height: 120%;
  letter-spacing: normal;
  color: #d4d4d4;
  height: 100px;
}

.car-action {
  margin-top: auto;
}

.car-action ul {
  list-style: none;
  display: flex;
  justify-content: space-between; /*distributes flex items with max space between*/
  margin-bottom: 20px;
}

.car-period {
  font-size: 16px;
  line-height: 120%;
  color: #d4d4d4;
  margin-bottom: 5px;
}
.car-price {
  font-size: 24px;
  line-height: 120%;
}
.car-price span {
  font-size: 16px;
  line-height: 120%;
  color: #d4d4d4;
}

.car-action .button {
  width: 100%;
}

.order {
  padding-top: 159px;
  padding-bottom: 130px;
}
.order .container {
  position: relative;
}
.order img {
  position: absolute;
  top: -25px;
  left: -530px;
}

.order form {
  margin-left: 714px;
  max-width: 486px;
}

.order h3 {
  font-weight: normal;
  font-size: 65px;
  line-height: 100%;
  margin-bottom: 40px;
}

.order p {
  font-size: 24px;
  line-height: 120%;
  color: #d4d4d4;
  margin-bottom: 60px;
  max-width: 455px;
}
.order-form {
  width: 344px;
}
::placeholder {
  color: #d4d4d4;
}
.order-form input {
  height: 68px;
  width: 100%;
  padding: 24px 20px;
  box-sizing: border-box;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
  margin-bottom: 15px;
  outline: none;
  font-size: 16px;
}
.footer {
  padding: 47px 0;
  border-top: 1px solid #5f5f5f; /*adds a top border*/
}
.footer .container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.rights {
  font-size: 14px;
  line-height: 90%;
  font-weight: bold;
  letter-spacing: normal;
  text-transform: uppercase;
}
